<!-- side menu -->
<div class="sidemenu-container">

    <!-- logo section -->
    <div class="flex mb-30">
        <div class="logo"><img src="/assets/images/hexa-bank-logo.jpg" />
            <h3>Hexa Bank</h3>
        </div>
        <div class="logo-icon"> <i class="fa fw-600">&#xf104;</i></div>
    </div>
    <!-- profile section -->
    <div class=" flex">
        <div class="profile"> <img src="/assets/icons/contact-person.svg" />
            <h3>Ramya</h3>
        </div>
        <div> <i class="fa">&#xf0dc;</i></div>
    </div>
    <hr />

    <!-- side bar list items -->
    <div class="menu-section">
        <!-- menu list section -->
        <h3 class="w3-bar-item">MENU</h3>
        <div class="flex-only sub-menu-items">
            <img src="/assets/icons/overview.svg" />
            <a href="#" class="w3-bar-item w3-button">Overview</a>
        </div>
        <div class="flex-only sub-menu-items">
            <img src="/assets/icons/list.svg" />
            <a href="#" class="w3-bar-item w3-button">Transactions</a>
        </div>
        <div class="flex-only sub-menu-items">
            <img src="/assets/icons/analytics.svg" />
            <a href="#" class="w3-bar-item w3-button">Analytics</a>
        </div>
        <div class="flex-only sub-menu-items">
            <img src="/assets/icons/card.svg" />
            <a href="#" class="w3-bar-item w3-button">Cards</a>
        </div>

        <hr />

        <!-- general list section -->
        <h3 class="w3-bar-item">GENERAL</h3>
        <div class="flex-only sub-menu-items">
            <img src="/assets/icons/settings.svg" />
            <a href="#" class="w3-bar-item w3-button">Settings</a>
        </div>
        <div class="flex-only sub-menu-items">
            <img src="/assets/icons/support.svg" />
            <a href="#" class="w3-bar-item w3-button">Help Support</a>
        </div>
        <div class="sub-menu-items">
            <div class="flex">
                <div class="flex">
                    <img src="/assets/icons/mode.svg" />
                    <a href="#" class="w3-bar-item w3-button">Dark Mode</a>
                </div>
                <label class="switch">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <hr />

    </div>

    <!-- drag box and drop section-->
    <div class="drop-box">
        <div>
            <div>
                <button class="fab-button">+</button>
            </div>
            <div>New Payment</div>
        </div>
    </div>

</div>