<!-- subheader section with search -->
<div class="sub-header-main">
    <div class="sub-header-content">
        <h3>Overview</h3>
        <!-- search  -->
        <input type="search" placeholder="Search anything here..." />

        <!-- messages and alert notification section -->
        <div class="notification-icons">
            <button class="message-button">
                <i class="fa">&#xf27a;</i>
                <app-notification-dot></app-notification-dot>
            </button>
            <button>
                <i class="fa">&#xf0f3;</i>
                <app-notification-dot></app-notification-dot>
            </button>
        </div>
    </div>
</div>